In [1]:
import psycopg2
import random
import pandas as pd
import numpy as np
from sqlalchemy import create_engine, text
from faker import Faker

### Set up a connection to the PostgreSQL database

In [2]:
f = open("credentials\credentials_railway_hospitable-direction.txt")
lines=f.readlines()
host=lines[0][7:-1].strip()
database=lines[1][11:].strip()
user=lines[2][7:].strip()
password=lines[3][11:].strip()
port=lines[4][7:].strip()
url=lines[5][6:].strip()
f.close()

In [3]:
print("host:", host)
print("database:", database)
print("user:", user)
print("password:", password)
print("port:", port)
print("url:", url)

host: containers-us-west-163.railway.app
database: railway
user: postgres
password: fG3tEK5mqcxtUnHhUoc6
port: 6455
url: postgresql://postgres:fG3tEK5mqcxtUnHhUoc6@containers-us-west-163.railway.app:6455/railway

In [4]:
def update_db(query):
    conn = psycopg2.connect(
    host=host,
    database=database,
    user=user,
    password=password,
    port=port
    )

    cur = conn.cursor()

    cur.execute(query)

    conn.commit()
    cur.close()
    conn.close()

    return "Database has been updated"

In [5]:
def check_db(query):
    engine = create_engine(url)
    
    return pd.read_sql_query(text(query), con=engine.connect())

### Create "categories" table

In [6]:
update_db("DROP TABLE if exists categories cascade")

In [ ]:
# # Create table
# query = """
#     CREATE TABLE categories(
#         category_id SERIAL PRIMARY KEY,
#         name VARCHAR(50) NOT NULL,
#         event_id INT,
#         user_id INT,
#         CONSTRAINT fk_events FOREIGN KEY (event_id) REFERENCES events(event_id),
#         CONSTRAINT fk_users FOREIGN KEY (user_id) REFERENCES users(user_id)
#     )
# """
# update_db(query)

In [ ]:
# Create table
query = """
    CREATE TABLE categories(
        category_id SERIAL PRIMARY KEY,
        name VARCHAR(50) NOT NULL,
        CONSTRAINT fk_events FOREIGN KEY (event_id) REFERENCES events(event_id),
        CONSTRAINT fk_users FOREIGN KEY (user_id) REFERENCES users(user_id)
    )
"""
update_db(query)

# Insert data
query = """
    INSERT INTO categories (name)
    VALUES
        ('Finance and Investment'),
        ('Management Skills'),
        ('Technology'),
        ('Business Management'),
        ('Marketing')
"""
update_db(query)

### Check "categories" table

In [6]:
query = "SELECT * FROM categories"
check_db(query)

   category_id                    name event_id user_id
0            1  Finance and Investment     None    None
1            2       Management Skills     None    None
2            3              Technology     None    None
3            4     Business Management     None    None
4            5               Marketing     None    None

### Create "events" table

In [ ]:
# update_db("DROP TABLE if exists events cascade")

In [ ]:
# Create table
query = """
    CREATE TABLE events(
        event_id SERIAL PRIMARY KEY,
        title VARCHAR(100) NOT NULL,
        description TEXT NOT NULL,
        date TIMESTAMP NOT NULL,
        category_id INTEGER NOT NULL,
        CONSTRAINT fk_categories FOREIGN KEY (category_id) REFERENCES categories(category_id)
    )
"""
update_db(query)

# Insert data
query = """
    INSERT INTO events (title, description, date, category_id)
    VALUES
        ('HR INTERNATIONAL SUMMER SCHOOL', 'empty', '2023-06-22 00:00:00', '2'),
        ('OPEN DAY BOOTCAMPS EDEM POWERED BY THE BRIDGE', 'empty', '2023-07-04 19:00:00', '3'),
        ('ENCUENTRO CON ERIC MASKIN, PREMIO NOBEL DE ECONOM√çA 2007', 'empty', '2023-06-05 11:30:00', '1')
"""
update_db(query)

### Check "events" table

In [7]:
query = "SELECT * FROM events"
check_db(query)

,event_id,title,description,date,category_id
0,1,HR INTERNATIONAL SUMMER SCHOOL,empty,2023-06-22 00:00:00,2
1,2,OPEN DAY BOOTCAMPS EDEM POWERED BY THE BRIDGE,empty,2023-07-04 19:00:00,3
2,3,"ENCUENTRO CON ERIC MASKIN, PREMIO NOBEL DE ECO...",empty,2023-06-05 11:30:00,1

### Create "users_df" dataframe first and then convert the dataframe into SQL table

Column "gender"

In [ ]:
# Set the seed value
seed_value = 42

# Set the seed for random module
random.seed(seed_value)

male_count = 481
female_count = 253

genders = []
for _ in range(male_count):
    genders.append("male")

for _ in range(female_count):
    genders.append("female")

random.shuffle(genders)

users_df = pd.DataFrame(genders, columns=["gender"])
users_df

Column "name"

In [ ]:
fake = Faker('es_ES')

names = []
surnames = []

for gen in users_df["gender"]:
    if gen == "male":
        names.append(fake.first_name_male())
        surnames.append(fake.last_name_male())
    elif gen == "female":
        names.append(fake.first_name_female())
        surnames.append(fake.last_name_female())

users_df["name"] = names
users_df["surname"] = surnames

users_df

Columns "programme" and "year"

In [ ]:
prog_year = {
    ('BSc in Engineering and Management', 1): 65, ('BSc in Engineering and Management', 2): 42, ('BSc in Engineering and Management', 3): 28, ('BSc in Engineering and Management', 4): 29,
    ('BBA in Business Administration', 1): 128, ('BBA in Business Administration', 2): 92, ('BBA in Business Administration', 3): 83, ('BBA in Business Administration', 4): 72,
    ('Master Marketing and Digital Sales', 1): 61, ('Master Marketing and Digital Sales', 2): 0, ('Master Marketing and Digital Sales', 3): 0, ('Master Marketing and Digital Sales', 4): 0,
    ('Master Data Analytics', 1): 30, ('Master Data Analytics', 2): 0, ('Master Data Analytics', 3): 0, ('Master Data Analytics', 4): 0,
    ('Master Finance', 1): 19, ('Master Finance', 2): 0, ('Master Finance', 3): 0, ('Master Finance', 4): 0,
    ('MBA Junior', 1): 41, ('MBA Junior', 2): 0, ('MBA Junior', 3): 0, ('MBA Junior', 4): 0,
    ('Bootcamp Data Science', 1): 17, ('Bootcamp Data Science', 2): 0, ('Bootcamp Data Science', 3): 0, ('Bootcamp Data Science', 4): 0,
    ('Bootcamp Full Stack', 1): 14, ('Bootcamp Full Stack', 2): 0, ('Bootcamp Full Stack', 3): 0, ('Bootcamp Full Stack', 4): 0,
    ('Bootcamp UX/ UI', 1): 7, ('Bootcamp UX/ UI', 2): 0, ('Bootcamp UX/ UI', 3): 0, ('Bootcamp UX/ UI', 4): 0,
    ('Bootcamp Cibersecurity', 1): 6, ('Bootcamp Cibersecurity', 2): 0, ('Bootcamp Cibersecurity', 3): 0, ('Bootcamp Cibersecurity', 4): 0,
}

# Set the seed for random module
random.seed(seed_value)

users_df["prog_year"] = users_df.apply(
    lambda row: random.choices(list(prog_year.keys()), weights=list(prog_year.values()))[0],
    axis=1
)

# Create the "programme" column
users_df["programme"] = users_df["prog_year"].apply(lambda row: row[0])

# Create the "year_of_study" column
users_df["year"] = users_df["prog_year"].apply(lambda row: row[1])

users_df

In [ ]:
users_df.groupby("programme")["name"].count()

Column "email" (school_email)

In [ ]:
# Generate school_email based on "first_name" and "last_name"
users_df["email"] = (users_df["name"].str.lower().str.replace(" ", "") +
                     users_df["surname"].str.lower().str.replace(" ", "") +
                     "@edem.es")

users_df

In [ ]:
# # Generate school_email based on student_name
# users_df["email"] = users_df["name"].apply(lambda name: name.lower().replace(" ", "") + "@edem.es")

# users_df

Column "age"

In [ ]:
# Set the seed for the random module
random.seed(seed_value)

age_range_1 = [18, 19, 20, 21, 22]
age_range_2 = [23, 24, 25, 26, 27]
age_range_3 = [x for x in range(20, 51)]

mask_1_2 = users_df["programme"].isin(['BSc in Engineering and Management', 'BBA in Business Administration'])
mask_3_to_7 = users_df["programme"].isin(['Master Marketing and Digital Sales', 'Master Data Analytics', 'Master Finance', 'MBA Junior'])
mask_8_to_13 = users_df["programme"].isin(['Bootcamp Data Science', 'Bootcamp Full Stack', 'Bootcamp UX/ UI', 'Bootcamp Cibersecurity'])

users_df.loc[mask_1_2, "age"] = random.choices(age_range_1, weights=[5, 3, 1, 1, 0], k=mask_1_2.sum())
users_df.loc[mask_3_to_7, "age"] = random.choices(age_range_2, weights=[2, 2, 2, 2, 2], k=mask_3_to_7.sum())

weights_3_to_13 = [1 / (x - 19) for x in range(20, 51)]
users_df.loc[mask_8_to_13, "age"] = random.choices(age_range_3, weights=weights_3_to_13, k=mask_8_to_13.sum())


users_df

Arrange the "users_df" columns

In [ ]:
users_df.columns

In [ ]:
users_df = users_df[["name", "surname", "gender", "age", "year", "email", "programme"]]
users_df

Double check whether the "users_df" data is aligned with the data provided by EDEM

In [ ]:
users_df.groupby("programme")["email"].count()

In [ ]:
users_df.groupby(["programme", "year"])["email"].count()

In [ ]:
users_df.groupby("gender")["email"].count()

In [ ]:
users_df.groupby(["programme", "year", "gender"])["email"].count()

Comment:
- The number of students per gender that was randomly generated, is the same as the one provided by EDEM, but when we tried to break it down based on the programmes/majors and year of study, there is a slight difference in the figures generated randomly (distribution of the data). 
- Overall, the random data is quite aligned with the data provided by EDEM.

Create "categories" column

In [ ]:
query = "SELECT * FROM categories"
categories_df = check_db(query)
categories_df

In [ ]:
categories_df["name"].to_list()

In [ ]:
interests = categories_df["name"].to_list()

random.seed(seed_value)

def generate_categories(row):
    num_categories = random.randint(1, len(interests))
    categories = random.sample(interests, k=num_categories)
    return categories

users_df["categories"] = users_df.apply(generate_categories, axis=1)

users_df

In [ ]:
# Check whether or not there is a repetition in category list per each row
def check_category_repetition(row):
    categories = row["categories"]
    return len(categories) != len(set(categories))

users_df["repeated_categories"] = users_df.apply(check_category_repetition, axis=1)

users_df

In [ ]:
users_df["repeated_categories"].unique()

In [ ]:
# Remove the "repeated_categories" column
users_df = users_df.drop("repeated_categories", axis=1)

In [ ]:
users_df

Create "user_id" column

In [ ]:
users_df.columns

In [ ]:
# Add "student_id" column into "students_df" dataframe. This column will be a primary key in SQL and will be filled in automatically in SQL
users_df["user_id"] = [x for x in range (1, 735)]

# Put the "student_id" in the first column
users_df = users_df[['user_id', 'name', 'gender', 'age', 'year', 'email', 'programme', 'categories']]

users_df.head()

In [ ]:
users_df.info()

In [ ]:
# Change "age" column dtype
users_df = users_df.astype({"age": "int64"})

users_df.info()

In [ ]:
# Save the dataframe in CSV for ML training purpose
users_df.to_csv("data_ds/users_df.csv")

Convert the "users_df" dataframe into "users" table in PostgreSQL

In [ ]:
# update_db("DROP TABLE if exists users cascade")

In [ ]:
# Convert the dataframe to SQL table
conn = create_engine(url).connect()
users_df.to_sql(name="users", con=conn, index=False)

In [ ]:
check_db("SELECT * FROM users")

The following line codes have been executed in PostgreSQL editor via DBeaver sofware. No need to execute here in Python

In [ ]:
# # Change the "user_id" type as serial for autoincrement ID
# query = """
#     CREATE SEQUENCE my_serial AS integer START 735 OWNED BY users.user_id;

#     ALTER TABLE users ALTER COLUMN user_id SET DEFAULT nextval('my_serial');
# """
# update_db(query)

In [ ]:
# Set "user_id" as primary key
# query = """
#     ALTER TABLE users ADD PRIMARY KEY (user_id)
# """
# update_db(query)

In [ ]:
# # Set "NOT NULL" for each columns
# query = """
#     ALTER TABLE public.users ALTER COLUMN name SET NOT NULL;
#     ALTER TABLE public.users ALTER COLUMN gender SET NOT NULL;
#     ALTER TABLE public.users ALTER COLUMN age SET NOT NULL;
#     ALTER TABLE public.users ALTER COLUMN "year" SET NOT NULL;
#     ALTER TABLE public.users ALTER COLUMN email SET NOT NULL;
#     ALTER TABLE public.users ALTER COLUMN programme SET NOT NULL;
#     ALTER TABLE public.users ALTER COLUMN categories SET NOT NULL;
# """
# update_db(query)

In [ ]:
# # Set "category_id" as foreign key
# query = """
#     ALTER TABLE users
#     ADD CONSTRAINT category_id_fk_users_categories FOREIGN KEY (category_id) REFERENCES categories(category_id);
# """
# update_db(query)